* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

#home {
    text-align: center;
    margin: 4rem;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 0.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background: #575757;
    border-radius: 5px;
}

main {
    padding: 2rem;
}

section#home {
    margin-bottom: 2rem;
}

section#products {
    display: grid;
    gap: 30px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.col-12 {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-control {
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}


.product-card {
    background: #efefef;
    grid-template-columns: 1fr;
    border-radius: 10px;
    padding: 20px 0px;
    justify-items: center;
    display: grid;
}

.button-cadastra{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
}

.button-cadastra button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e21;
    color: #fff;
    border-radius: 5px;
}

.button-cadastra button:hover {
    background: #575757;
}

.button-container button {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    background: #e21;
    color: #fff;
    padding: 0.7rem 1.0rem;
    border: none;
    border-radius: 5px;
}

.button-container button:hover {
    background: #575757;
}


.container-produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;
}


.produto-item{
    background: #efefef;
    grid-template-columns: 1fr;
    border-radius: 10px;
    padding: 20px 0px;
    justify-items: center;
    display: grid;
}


.foto {
   width: 150px;
   height: 150px;
   border-radius: 20px;
}

p {
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}