{% extends "base/cadastra_produtos.html" %} 
{% load static %} 
{% block conteudo %}
    <section id="home">
        <h2>Bem-vindo à Cadastrar Produto Bicicletas Feita a Mão</h2>
    </section>

    <section class="contact-form">
        <h2>Cadastrada Produtos</h2>
        <form method='POST' enctype='multipart/form-data' action='{% url "pagina-cadastraprodutos" %}'>
            {% csrf_token %}

            {{form.as_p}}
            <div class='button-container'>
                <button type='submit'>Adicionar</button>
            </div>
        </form>
    </section>
{% endblock conteudo %}