{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pessoas Bicicletas Feita a Mão</title>
    <link rel="stylesheet" href="{% static "base/css/pessoas.css" %}">
</head>
<body>
    <header>
        <h1>Cadastra Vendedores - Bicicletas Feita a Mão</h1>
        <nav>
            <ul>
                <li><a href='{% url "pagina-inicial" %}'>Início</a></li>
                <li><a href="{% url "pagina-sobre" %}">Sobre</a></li>
                <li><a href='{% url "pagina-loja" %}'>Lojas</a></li>
                <li><a href='{% url "pagina-vendedores" %}'>Vendedores</a></li>
                <li><a href="{% url "pagina-contados" %}">Contato</a></li>
                <li><a href='{% url "cadastra-usuario" %}'>Cadastro</a></li>
                {% if request.user.is_authenticated %}
                <li><a href='{% url "sair" %}'>Sair</a></li>
                {% else %}
                <li><a href='{% url "acessar" %}'>Entrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <section id="home">
        <h2>Bem-vindo à Cadastra Vendedores Bicicletas Feita a Mão</h2>
    </section>

    <section class="contact-form">
        <h2>Cadastra Vendedores</h2>
        <form method='POST' enctype='multipart/form-data' action='{% url "cadastra-pessoas" %}'>
            {% csrf_token %}

            {{pessoas.as_p}}

            <button type='submit'>Adicionar</button>
        </form>
    </section>
    <footer>
        <p>&copy; Bikcraft. Alguns direitos reservados</p>
    </footer>
</body>
</html>