{% extends "base/sobre.html" %}
{% load static %}
{% block conteudo %}
<section id="home" class="hero">
    <div class="outro_container">
        <h2>Bem-vindo à Lojas Bicicletas Feita a Mão</h2>
        <p>Encontre a bicicleta dos seus sonhos, feita especialmente para você.</p>
    </div>
</section>

<section id="about" class="about">
    <div class="container">
        <h2>Sobre Nós</h2>
        <p>Na <strong>Lojas Bicicletas Feita a Mão</strong>, acreditamos que cada bicicleta deve ser uma expressão única de seu proprietário. Fundada por entusiastas de bicicletas, nossa loja é dedicada a criar bicicletas personalizadas que combinam design, desempenho e paixão pela ciclismo.</p>
        <h3>Nossa Filosofia</h3>
        <p>Cada bicicleta que produzimos é uma obra de amor e dedicação. Acreditamos que uma bicicleta deve ser mais do que apenas um meio de transporte; deve ser uma extensão da personalidade do ciclista. Por isso, nos esforçamos para criar bicicletas que não apenas atendam às necessidades funcionais, mas que também contem uma história.</p>
        <h3>Nosso Processo de Fabricação</h3>
        <p>Nosso processo de fabricação é uma combinação de técnicas tradicionais e inovação moderna. Cada bicicleta é projetada a partir do zero, com atenção meticulosa aos detalhes. Utilizamos materiais de alta qualidade e cada componente é escolhido para proporcionar a melhor performance e durabilidade. Desde a soldagem do quadro até a pintura final, cada etapa é realizada com precisão e cuidado.</p>
        <h3>Nossa Equipe</h3>
        <p>Temos uma equipe talentosa de artesãos e engenheiros que compartilham nossa paixão por bicicletas. Cada membro da nossa equipe traz uma combinação única de habilidades e experiências, contribuindo para a criação de bicicletas excepcionais. Estamos comprometidos com a aprendizagem contínua e a melhoria constante para garantir que estamos sempre na vanguarda da indústria.</p>
        <h3>Compromisso com a Sustentabilidade</h3>
        <p>Na Lojas Bicicletas Feita a Mão, a sustentabilidade é uma parte central da nossa missão. Estamos comprometidos em minimizar nosso impacto ambiental através de práticas de produção responsáveis e do uso de materiais ecológicos. Além disso, incentivamos nossos clientes a adotarem um estilo de vida mais sustentável, utilizando bicicletas como uma alternativa ecológica ao transporte motorizado.</p>
        <h3>Venha nos Visitar</h3>
        <p>Convidamos você a visitar nossa loja e conhecer mais sobre o nosso trabalho. Venha ver de perto o processo de fabricação, conhecer nossa equipe e, claro, experimentar nossas bicicletas feitas à mão. Estamos ansiosos para ajudá-lo a encontrar a bicicleta perfeita para suas aventuras.</p>
    </div>
</section>
<br><br>
{% endblock conteudo %}