* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 0.5rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav ul li a:hover {
    background: #575757;
    border-radius: 5px;
}

main {
    padding: 2rem;
}

div#deletasucesso {
    text-align: center;
    margin: 4rem auto;
}

h2 {
    font-size: 40px;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
}

.botao button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e21;
    color: #fff;
    border-radius: 5px;
}

.botao button:hover {
    background: #575757;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}